@import 'compass'

$font-size: 16
// Your base font-size in pixels
$em: $font-size/1em
// Shorthand for outputting ems

+establish-baseline($font-size * 1px)

$orange: #FF9628
$blue: #0e90d2
$green: #00aa00

html
  height: 100%

body
  margin: 0
  height: 100%
  font:
    family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif

h1, h2, h3, h4, h5, h6
  font:
    size: $font-size * 1px
    weight: 700
    family: "Open Sans", "Helvetiva Neue", Helvetica, sans-serif

h2
  margin: 20/$em auto
  line-height: 32/$em
  span.title
    font:
      family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif
      weight: 400
      size: 28/$em

h3
  margin: 0 auto 16/$em
  line-height: 26/$em
  span.title
    font:
      family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif
      weight: 400
      size: 22/$em

a
  color: $blue
  text-decoration: none
  &:hover, &:active
    text-decoration: underline
  &:visited
    text-decoration: $orange

.container
  width: 90%
  max-width: 1440/$em
  margin: 0 auto
  position: relative
  &.thin
    width: 50%
    @media all and (max-width: 569px)
      width: 80%

header
  overflow: hidden
  border-bottom: 1/$em solid #cdcdcd

h1
  float: left
  padding-right: 4/$em
  margin: 0
  span.title
    display: none
    font:
      size: 38/$em
  img.title-img
    width: 172/$em
    height: 50/$em
    vertical-align: bottom

div#header-menu
  padding: 20/$em 0
  overflow: hidden
  nav
    float: right
    width: 70%
    margin: 16/$em 0 7/$em
    +single-transition(max-height, 0.6s, ease)
    ul
      list-style-type: none
      margin: 0
      padding: 0
    li
      float: left
      margin-right: 40/$em
      &:last-child
        margin-right: 0
      a
        display: block
        font-size: 24/$em
        text-decoration: none

    @media all and (max-width: 740px)
      float: none
      clear: both
      margin: 0
      width: 100%
      max-height: 0
      overflow: hidden
      li
        float: none
        margin: 0
        padding: 10/$em 0
        text-indent: 20/$em
        &:hover, &:active, &:focus
          background-color: $orange
          a
            color: white


  &:target
    @media all and (max-width: 740px)
      nav
        height: auto
        max-height: 1000/$em
      a.menu-button
        &.open
          display: none
        &.close
          display: block

  a.menu-button
    display: none
    text-align: center
    @media all and (max-width: 740px)
      position: absolute
      top: 20/$em
      right: 0
      border: 1/$em solid #cdcdcd
      width: 44/$em
      height: 44/$em
      line-height: 44/$em
      &.open
        display: block

    span.title
      font-size: 14/$em

section.content
  overflow: hidden

span.beta
  display: block
  float: left
  margin-top: 20/$em
  height: 15/$em
  span.value
    font:
      size: 14/$em
      weight: bold
    color: $orange
    text-transform: uppercase

form.notify-small
  float: right
  width: 386/$em
  @media all and (max-width: 740px)
    display: none

input.email
  padding: 6/$em 16/$em
  float: left
  border: 2/$em solid #CCC
  font:
    weight: 300
    family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif

div.beta-opt-in
  float: left

input.beta
  float: left
  background: none
  border: none

label.beta
  display: block
  float: left
  line-height: 10/$em
  color: #555
  span.value
    font-size: 10/$em

button.submit
  cursor: pointer
  padding: 8/$em 22/$em
  float: right
  font-weight: bold
  background-color: $orange
  border: none
  color: #fff
  opacity: 0.9
  &:hover
    opacity: 1
  span.title
    font-size: 18/$em

div#main
  height: 100%

div.showcase
  overflow: hidden
  background-color: #083b4d

p.slogan
  color: #FFF
  font-weight: 300
  margin-top: 30/$em
  text-align: center
  line-height: 38/$em
  span.value
    font-size: 38/$em
  @media all and (max-width: 690px)
    line-height: 28/$em
    span.value
      font-size: 28/$em

img.example-display
  display: block
  margin: 30/$em auto 0
  max-width: 960/$em
  @media all and (max-width: 960px)
    width: 90%

div.features-section
  clear: both

ul.features
  list-style-type: none
  overflow: hidden
  padding: 0
  margin: 0

li.feature
  margin: 40/$em 5% 40/$em 0
  width: 30%
  float: left

  @media all and (min-width: 767px)
    &:nth-child(3n)
      margin-right: 0

  @media all and (min-width: 451px) and (max-width: 767px)
    width: 47.5%
    &:nth-child(2n)
      margin-right: 0

  @media all and (max-width: 450px)
    width: 100%
    margin: 20/$em 0 20/$em 0

  div.heading
    margin: 0 0 20/$em 0
    padding: 0 10/$em 10/$em 0
    height: 54/$em
    border-bottom: 1/$em solid #555
    overflow: visible

    @media all and (min-width: 451px) and (max-width: 970px)
      height: 80/$em

  h5.title
    float: right
    text-align: right
    width: 70%
    margin: 0 auto
    span.value
      font:
        family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif
        weight: 400
        size: 16/$em

  img.icon
    display: block
    float: left
    height: 48/$em
    width: 48/$em

  p.description
    margin: 0
    line-height: 150%
    font:
      size: 16/$em
      family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif

  a.blog
    color: $orange
    font-weight: bold

div.coming-soon
  margin: 0 0 40/$em 0

h2.coming-soon
  text-align: center
  margin: 20/$em auto 12/$em
  em.owned
    font-style: none
    text-decoration: underline

h4.signup, h4.blog
  text-align: center
  margin: 0 auto
  span.title
    font:
      family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif
      weight: 700
      size: 16/$em

form.notify-big
  width: 700/$em
  margin: 20/$em auto 20/$em
  overflow: hidden
  @media all and (max-width: 690px)
    width: 100%

  input.email
    float: left
    border: 1/$em solid #CCC
    padding: 6/$em 16/$em
    width: 240/$em
    font:
      size: 125%
      weight: 300
      family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif
    @media all and (max-width: 690px)
      display: block
      float: none
      margin: 0 auto
      width: 80%

  div.beta-opt-in
    overflow: hidden
    float: left
    font-size: 150%
    margin-left: 20/$em
    @media all and (max-width: 690px)
      float: none
      margin: 0 auto
      width: 100/$em
      padding: 12/$em 32/$em

  input.beta
    height: 40/$em
    margin-right: 14/$em

  label.beta
    display: block
    float: left
    line-height: 10/$em
    color: #555

  button.submit
    font:
      size: 20/$em
    @media all and (max-width: 690px)
      float: none
      display: block
      margin: 0 auto

div.blog-cta
  background-color: #083b4d

  h4.blog
    line-height: 200%
    padding: 80/$em 0
    span.title
      color: #FFF
      font:
        size: 28/$em
        weight: 400

a.blog, a.twitter-name
  text-decoration: none
  color: $orange
  &:hover
    text-decoration: underline

//footer

footer
  overflow: hidden
  position: relative
  z-index: 10
  //above fixed position header/menu
  margin: 0
  padding: 20/$em 0
  background-color: #222
  color: #FFF
  font-size: 16/$em

h5.footer-title
  margin: 10/$em 0 20/$em
  span.title
    font:
      family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif
      weight: 400
      size: 28/$em

ul.footer-nav
  list-style-type: none
  padding: 0
  margin: 0
  li.nav-item
    margin: 0 0 10/$em 0
    font-size: 24/$em

span.copyright, span.github-mention
  float: right
  clear: both
  margin-top: 5/$em

hr.docs-separator
  margin: 40/$em 0

//WordPress Plugin

div.plugin-info-container
  float: right
  margin-top: 41/$em
  max-width: 70%
  @media all and (max-width: 860px)
    float: none
    max-width: 100%
    margin-top: 0

//docs
body.docs-index, body.wordpress-plugin-index
  h1
    position: fixed
    @media all and (max-width: 860px)
      position: relative

div.docs-index
  overflow: hidden
  h4.docs-endpoint
    clear: both
    margin: 80/$em 0 20/$em
    span.title
      font-size: 20/$em

div.docs-listing
  position: fixed
  top: 100/$em
  left: 5%
  @media all and (max-width: 860px)
    position: relative
    top: 0
    left: 0

ul.nav-list
  list-style-type: none
  margin: 0
  padding: 0

li.nav-header
  font-weight: 700

li.nav-section
  font-size: 14/$em

div.docs-introduction
  margin-bottom: 40/$em

div.docs-endpoints-container
  float: right
  margin-top: 41/$em
  max-width: 70%
  @media all and (max-width: 860px)
    float: none
    max-width: 100%
    margin-top: 0

div.well
  padding: 19/$em
  min-height: 20/$em
  margin-bottom: 20/$em
  background-color: #f5f5f5
  border: 1/$em solid #eee
  border: 1/$em solid rgba(0, 0, 0, .05)
  +border-radius(4/$em)
//
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)

a.button
  display: block
  background-color: $green
  +border-radius(4/$em)
  color: #FFF
  padding: 4/$em
  margin-bottom: 10/$em
  text-align: center
  &:hover, &:active
    background-color: $orange
    text-decoration: none

dl.docs-definition
  margin: 0

  dt
    margin: 0 0 10/$em
    span.title
      text-decoration: underline
      font:
        size: 18/$em
        weight: 400

  dd
    margin: 0 0 10/$em

pre
  overflow: scroll
  background-color: #333
  color: #efefef
  +border-radius(4/$em)
  padding: 4/$em

code.json
  span.value
    color: #efefef
  span.attribute
    color: $green
  span.string
    color: $blue
  span.literal, span.number
    color: $orange

//Blog
div.post
  margin: 0 auto 40/$em
  h2
    margin-bottom: 12/$em
  li
    margin-bottom: 12/$em

div.post-content
  font-size: 17/$em
  line-height: 160%

ul.posts-listing
  list-style-type: none
  margin: 0 0 40/$em
  padding: 0

li.post-listing
  &:first-child
    h3.post-title
      margin-top: 0

h3.post-title
  margin: 30/$em 0 6/$em
  font-weight: 400
  line-height: 30/$em
  a.title
    font-size: 22/$em

dl.post-meta
  margin: 0 0 10/$em
  overflow: hidden
  font-size: 14/$em
  dt
    font-weight: 700
    float: left
    clear: both
    margin-right: 6/$em
  dd
    float: left
    margin: 0

p.excerpt
  clear: both
