---
layout: 'main'
---
- var features = [];
- features.push({icon:"icon-phone-networks.png", title:"Always posting status updates from your mobile phone?", description:"Postcard is a mobile app integrated with all major social networks.<br /><br />Write your message once and share it everywhere in seconds."});
- features.push({icon:"icon-thumb.png", title:"Does social media cannibalize your content creation?", description:"Postcard is about helping you seamlessly get content on your own website as well as social networks."});
- features.push({icon:"icon-magnifying-glass.png", title:"Losing your best updates in an ocean of tweets?",description:"Share your updates to Postcard and search your content later by any parameter.<br /><br />Create filtered feeds and galleries from your content."});


- features.push({icon:"icon-hashtag.png", title:"Don't like bloating your updates with hashtags?", description:"Postcard includes private tagging functionality so you can categorize your content without overwhelming the message."});
- features.push({icon:"icon-lightning.png", title:"Plugin for WordPress <br />now available", description:"Setup is fast and easy. Just install the plugin, add your website to the app and start posting.<br /><br /> Insert feeds as pages, shortcode embeds or widgets without a single line of code."});
- features.push({icon:"icon-tools.png", title:"Like to get your hands dirty and want all the details?", description:"Postcard implements an open and documented API protocol which means any website that responds can use the app. <a class='blog' target='_blank' href='http://postcardsocial.net/docs/'>Read the docs</a> for more info."});

div.showcase
	div.container
		p.slogan
			span.value Write once, share everywhere.
				br
				| Even your own website.
	img.example-display(src="images/showcase.png")

div.features-section
	div.container
		ul.features
			- for (var i = 0; i < 6; ++i) {
				li.feature
					div.heading
						img.icon(src="images/#{features[i].icon}")
						h5.title
							span.value!=features[i].title
					p.description!=features[i].description
			- }

div.coming-soon
	h2.coming-soon
		span.title Coming soon to a website&nbsp;
			em.owned owned by you
	h4.signup
		span.title Sign up to be notified when Postcard is released
	form.notify-big(name="mc-embedded-subscribe-form", action="#{site.mailchimpListUrl}", method="POST")
		input.email(type="email", name="EMAIL", placeholder="your@email.com")
		div.beta-opt-in
			input.beta(type="checkbox", value="yes", name="BETA")
			label.beta(for="beta")
				span.value I'm interested
					br
					| in beta testing
		button.submit
			span.title Notify Me

div.blog-cta
	h4.blog
		span.title
			a.blog(target="_blank", href="http://blog.postcardsocial.net") Visit the blog
			| &nbsp;for more info
			br
			br
			| - or -
			br
			br
			| Follow Postcard updates on Twitter
			br
			a.twitter-name(target="_blank",href="https://www.twitter.com/postcardsocial") @postcardsocial