---
layout: 'main'
---
- var features = [];
- features.push({icon:"icon-everywhere@2x.png", title:"Get the message everywhere.", description:"Postcard is a mobile app integrated with all major social networks.<br /><br />Write your message once and share it everywhere in seconds."});
- features.push({icon:"icon-globe@2x.png", title:"Even send messages to your website.", description:"Don't leave your homepage out in the cold. Send messages to your own website using the Custom Network feature."});
- features.push({icon:"icon-directions@2x.png", title:"The 'Host' feature directs your traffic.", description:"If you're interested in linking your networks to the content on another social media site, this feature is your answer."});
- features.push({icon:"icon-hosting@2x.png", title:"Get control of your content.", description:"Hosting gives you the power to choose where your content lives and how it looks without comprimises to message length or media type."});
- features.push({icon:"icon-tools@2x.png", title:"A developer friendly social media solution", description:"Postcard for iOS is well documented, so any developer can use the app to send messages to their server. <a class='blog' target='_blank' href='http://postcardsocial.net/docs/'>Read the docs</a> for more info."});
- features.push({icon:"icon-wordpress@2x.png", title:"WordPress Plugin available", description:"Setup is fast and easy. Just install the plugin, add your website to the app and start posting.<br /><br /> Insert feeds as pages, shortcode embeds or widgets without a single line of code."});
- // features: "write once", "hosting/traffic control", "overcome limitations", "custom network", "wordpress plugin", "developer docs"

div.showcase
	div.container
		div.display-wrapper
			div.example-display
				img.phone-display(src="https://s3.amazonaws.com/postcard-social/iphone-animated-display.gif")
				//video.video-phone-display(width="320", height="568", preload="auto", autoplay, loop)
					source(src="https://s3.amazonaws.com/postcard-social/postcard-demo.mp4", type="video/mp4")
		p.slogan
			span.value Write Once,
				br
				| Share Everywhere.
				br
				| Even Your Own Website.
			br
			br
			strong.value Direct your traffic

		a.download-button(href="#") Coming soon to the App Store

div.features-section
	div.container
		ul.features
			- for (var i = 0; i < 6; ++i) {
				li.feature
					div.heading
						img.icon(src="images/#{features[i].icon}")
						h5.title
							span.value!=features[i].title
					p.description!=features[i].description
			- }

div.coming-soon
	h2.coming-soon
		span.title Coming to the App Store<br/>February 19th 2014
	h4.signup
		span.title Sign up to be reminded when Postcard is released
	form.notify-big(name="mc-embedded-subscribe-form", action="#{site.mailchimpListUrl}", method="POST")
		input.email(type="email", name="EMAIL", placeholder="your@email.com")
		button.submit
			span.title Notify Me

//
	a.twitter-name(target="_blank",href="https://www.twitter.com/postcardsocial") @postcardsocial