---
layout: 'main'
---
- var features = [];
- features.push({icon:"icon-thumb.png", title:"Short on time and putting all your effort into social media?", description:"Postcard is about helping you seamlessly get content on your own website as well as social networks if you don't have time to do long-form blogging."});
- features.push({icon:"icon-phone-networks.png", title:"Always posting updates from your mobile phone?", description:"Postcard is built for a companion mobile app integrated with all major social networks.<br /><br />Post once and send content everywhere."});
- features.push({icon:"icon-hashtag.png", title:"Don't like bloating your updates with hashtags?",description:"Postcard includes private tagging functionality so you can categorize your content without overwhelming the message."});
- features.push({icon:"icon-magnifying-glass.png", title:"Losing your best updates in an ocean of tweets?",description:"Share your updates to Postcard and search your content later by any parameter.<br /><br />Create filtered feeds and galleries from your content."});
- features.push({icon:"icon-lightning.png", title:"Not a seasoned<br /> WordPress veteran?",description:"Setup is fast and easy. Just install the plugin, add your website to the app and start posting.<br /><br /> Insert feeds as pages, shortcode embeds or widgets without a single line of code."});
- features.push({icon:"icon-tools.png", title:"Like to get your hands dirty and want all the details?",description:"The plugin has many customization hooks and the code base is open source. The mobile app implements an open and documented API. Any website that responds to this API can use the app. <a class='blog' target='_blank' href='http://blog.postcardsocial.net'>Read the blog</a> for more info."});

div.showcase
	div.container
		p.slogan
			span.value Turn your WordPress website into a
				br
				| personal social network or micro-blog
	img.example-display(src="images/showcase.png")

div.features-section
	div.container
		ul.features
			- for (var i = 0; i < 6; ++i) {
				li.feature
					div.heading
						img.icon(src="images/#{features[i].icon}")
						h5.title
							span.value!=features[i].title
					p.description!=features[i].description
			- }

div.coming-soon
	h2.coming-soon
		span.title Coming soon to a website&nbsp;
			em.owned owned by you
	h4.signup
		span.title Sign up to be notified when Postcard is released
	form.notify-big(name="mc-embedded-subscribe-form", action="#{site.mailchimpListUrl}", method="POST")
		input.email(type="email", name="EMAIL", placeholder="your@email.com")
		div.beta-opt-in
			input.beta(type="checkbox", value="yes", name="BETA")
			label.beta(for="beta")
				span.value I'm interested
					br
					| in beta testing
		button.submit
			span.title Notify Me

div.blog-cta
	h4.blog
		span.title
			a.blog(target="_blank", href="http://blog.postcardsocial.net") Visit the blog
			| &nbsp;for more info
			br
			br
			| - or -
			br
			br
			| Follow Postcard updates on Twitter
			br
			a.twitter-name(target="_blank",href="https://www.twitter.com/postcardsocial") @postcardsocial